body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2abb97;
    padding-left: 50px;
    padding-right: 50px;
    /* position: sticky; */
}

.main-header {
    position: sticky;
    top: 0;
}

ul li {
    float: left;
    padding-top: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

div.image {
    text-align: right;
    padding-top: 4px;
    padding-right: 5px;
}

h1 {
    font-size: 60px;
    color: blue;
}

div.container {
    padding-left: 50px;
    padding-right: 50px;
}

p.heading {
    font-size: 70px;
}

div.sided-item {
    display: flex;
}

div.sided-item div p {
    margin: 0;
}

div#footer {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url("background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
}

#top-header {
    background-color: blue;
    padding-top: 9px;
    color: white;
}

.subnav-items {
    display: block;
    position: absolute;
    background-color: #2abb97;
    min-width: 160px;
    z-index: 1;
    padding-top: 20px;
}

.subnav:not(:hover) .subnav-items {
    display: none;
}

.subnav-items a {
    float: none;
    padding: 10px 16px;
    text-align: left;
    color: white;
    text-decoration: none;
    display: block;
}

.subnav-items a:hover {
    background-color: #111;
}