* {
    margin: 0;
    padding: 0;
}

ul.sub-header {
    overflow: hidden;
    list-style-type: none;
    background-color: black;
    color: white;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

ul.sub-header img {
    float: right;
    padding: 0;
    margin: 0;
}

ul.sub-header li {
    display: inline;
    padding: 5px;
    margin: 5px;
}

ul.main-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cyan;
    padding-left: 50px;
    padding-right: 50px;
}

ul.main-header li {
    display: inline;
    float: left;
}

ul.main-header li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

ul.main-header img {
    float: right;
}

ul.main-header li:hover {
    background-color: black;
    color: white;
}